

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.modal-body {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}

.ui-autocomplete {
     z-index: 9999 !important;
}







