{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        {# Load CSS and JavaScript #}
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         {% bootstrap_messages %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li class="active"><a href="#download" role="tab" data-toggle="tab">Télécharger</a></li>
              <li><a href="#list_video" role="tab" id="listvideo" data-toggle="tab">Vidéos</a></li>
              <li><a href="#preview_tab" role="tab" id="previewtab" data-toggle="tab">Prévisualisation</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="download">
                      <div class="container">
                        <h1>Télécharger vos vidéos</h1>
                        <p>La zone ci-dessous vous permet de déposer une ou plusieurs vidéo à traiter.</p>
                        {% load jfutags %}
                        {% comment %} TODO: Find a way to extend self defined upload_form.html {% endcomment %}
                        {% jfu 'video_uploader.html' 'jfu_upload' %}
                      </div>
              </div>
              <div class="tab-pane" id="list_video"><div class="container" id="show_videolist">Loading....</div></div>
              <div class="tab-pane" id="preview_tab">
                <div class="container">
                  <p>
                    <label for="amount">Frame range:</label>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                </div>
                  <div class="container" id="show_videopreview"></div></div>
            </div>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->        
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="{% static 'js/vendor/jquery.jscroll.js' %}"></script>
        <script src="{% static 'js/airview.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/vendor/URI.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.Jcrop.min.js' %}"></script>
        <script src="{% static 'js/toastr.min.js' %}"></script>
        {% bootstrap_javascript %}

        <script type="application/javascript" >
            $(function() {
                $('#myTab a:first').tab('show');

            })

        // Create an observer instance
{% comment %}
          var observer = new MutationObserver(function( mutations ) {
          mutations.forEach(function( mutation ) {
            var newNodes = mutation.addedNodes; // DOM NodeList
            if( newNodes !== null ) { // If there are new nodes added
                var $nodes = $( newNodes ); // jQuery set
                $nodes.each(function() {
                    var $node = $( this );
                    if( $node.hasClass( "jscroll-inner" ) ) {
                        console.log(mutations, observer);
                        $("img[class='preview']").airview({container: '#show_videopreview', placement: 'bottom'});

                    }
                });
            }
          });
        });


        var target = $("#show_videopreview")[0];

        // define what element should be observed by the observer
        // and what types of mutations trigger the callback
        observer.observe(target, {
          subtree: true,
          attributes: false,
          childList: true
          //...
        });{% endcomment %}

            function listener_videolisting() {
                $('.videolisting').click(function(e){
                    var hash = this.hash.substring(1);
                    $.ajax({
                        url: hash,
                        type: "GET",
                        dataType: "html",
                        success: function (data) {
                            $('div[id="show_videopreview"]').empty()
                            $('div[id="show_videopreview"]').html(data);
                            $('#myTab a[href="#preview_tab"]').tab('show'); // Select tab by name
                        },
                        error: function (xhr, status) {
                            alert("Sorry, there was a problem!");
                        },
                        complete: function (xhr, status) {
                            console.log("COMPLETE: " + xhr);
                            var max = $('#nextlink').data('max');
                            $( "#slider-range" ).slider({
                                range: true,
                                min: 0,
                                max: max,
                                values: [ 0, max ],
                                slide: function(event, ui) {
                                    $( "#amount" ).val(ui.values[0] + " - " + ui.values[1]);
                                    var nextlink = $('#nextlink').attr('href');
                                    var nt = URI(nextlink)
                                            .search({count: ui.values[0]})
                                            .addSearch("fastforward", true);
                                    console.log("TEST NEXTLINK:" + nt.toString());
                                    $('#nextlink').attr('href', nt.toString());
                                    if (typeof $('#show_videopreview').jscroll.destroy == "function") {
                                        $('#show_videopreview').removeData('jscroll').jscroll.destroy()
                                        $('#show_videopreview').jscroll();
                                    }

                                }
                            });
                            $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
                                    " - " + $( "#slider-range" ).slider( "values", 1 ) );
                            $('#show_videopreview').jscroll();

                        }
                    });
                });

            }


            function addTag(e, ui) {
                $.ajax({
                    type: "POST",
                    url: "attach_tag",
                    data: { id: ui.item.id, term: ui.item.value, cropped_id: $('div#tags').data('cropped-id') }
                })
                        .done(function(response_message){
                            toastr.options.timeOut = 1000;
                            toastr.options.fadeOut = 250;
                            toastr.options.fadeIn = 250;

                            toastr.options.positionClass = response_message.css

                            toastr[response_message.type](response_message.msg);
                        });
            }

            function toggleTaggingBtn(ev) {
                if (ev.type == 'mouseenter') {
                    $(this).removeClass();
                    $(this).addClass("btn btn-danger");
                    $(this).text('Ending tagging');
                    $(this).unbind('click');
                    $(this).attr('id', 'selectionEndingTaggingBtn');
                    $(this).click(function(){
                       $('#tags').remove();
                       $(this).remove();
                    });
                } else {

                    $(this).attr('id', 'selectionBtn');
                    $(this).removeClass();
                    $(this).addClass("btn btn-success");
                    $(this).button('tagging');
                }


            }
            function showCoords(c)
            {
                var $input = $('<button type="button" id="selectionBtn" ' +
                        'class="btn btn-primary" data-toggle="button" data-tagging-text="Add Tagging ?" data-content="' +
                        $('.modal-img').attr('src') + '"  aria-pressed="false" autocomplete="off">' +
                        '<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>');

                $input.appendTo($('.modal-dialog'));
                $('#selectionBtn').on('click', function(){
                    var $btn = $(this).button('tagging');
                    var image = $(this).data('content');

                    $.ajax({
                        type: "POST",
                        url: "cropselection",
                        data: { x: parseInt(c.x), y: parseInt(c.y), w: parseInt(c.w), h: parseInt(c.h),
                            x2: parseInt(c.x2), y2: parseInt(c.y2), image_url: image }
                    })
                            .done(function(cropped_id) {
                                var $tags = $('<div class="ui-widget" id="tags" data-cropped-id=' + cropped_id + ' style="display: inline-block;"><label for="tags">Tags: </label><input id="tags"></div>');
                                $tags.appendTo($('.modal-dialog'));
                                $("input#tags").autocomplete({
                                    position: { my : "right top", at: "right top", collision: "flip", within: '.jcrop-holder' },
                                    source: "/get_tags/",
                                    minLength: 2,
                                    select: addTag
                                });
                                $btn.toggleClass("btn-success")
                                $("#selectionBtn").hover(toggleTaggingBtn)


                            });
                    //$btn.button('reset')
                })
            }
            function releaseSelection(c)
            {
                $('#selectionBtn').remove()
                $("div#tags").remove()
            }


            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var image = button.data('content'); // Extract info from data-* attributes
                var contentHeight = $(window).height() - 60;

                $(this).find('.modal-content').css({
                    'max-height': function () {
                        return contentHeight;
                    }
                });


                $(this).find('.modal-body').css({
                    'max-height': function () {
                        return contentHeight;
                    }
                });

                $(this).find('.modal-dialog').css({
                    'margin-top': function () {
                        return -($(this).outerHeight() / 5);
                    },
                    'margin-left': function () {
                        return ($(this).outerWidth() / 5);
                    }
                });
                var modal = $(this);
                //modal.find('.modal-title').append('<img src=' + image + '/>')
                modal.find('.modal-content').replaceWith('<img class="modal-img" src=' + image + '/>');
                $(this).find('.modal-img').css({
                    'max-height': function () {
                        return contentHeight;
                    }
                });
                $('.modal-img').Jcrop({
                    boxHeight: contentHeight,
                    onRelease: releaseSelection,
                    onSelect: showCoords
                });
            });

            $('#listvideo').click(function(){
                $.ajax({
                    url: "video_list",
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $('div[id="show_videolist"]').html(data);
                    },
                    error: function (xhr, status) {
                        alert("Sorry, there was a problem!");
                    },
                    complete: function (xhr, status) {
                        listener_videolisting();
                    }
                });
                if (typeof $('#show_videopreview').jscroll.destroy == "function") {
                    $('#show_videopreview').removeData('jscroll').jscroll.destroy()
                }
            });


        </script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
