    {% load helperutils %}
    {% if fastforward %}
        <div class="alert-info text-center">... FASTFORWARD ...</div>
    {% endif %}
    {% if count == '7' %}
        <div class="alert-success text-center">Durée: {% global_duration duration %}</div>
    {% endif %}
    {% comment %} calculate full image size one type because all of them are same {% endcomment %}
{#    {% with file_listing.0.0|getimgsize as imgsize %}#}
    {% for video_img in file_listing %}
    <figure style="display:inline-block; width: 16.2%;">
            <img class="preview" width="100%" type="button" data-toggle="modal" data-target="#myModal"
              data-content="{{ video_img.0 }}" data-imgwidth="{{ width }}"
              data-imgheight="{{ height }}" src="{{ video_img.1 }}" />

            {% with forloop.counter|add:count|add:display_per as frame %}
                <figcaption class="small" style="font-size: small;" >Frame: {{ frame }}
                Current: {% to_time frame fps %}</figcaption>
            {% endwith %}

    </figure>

    {% empty %}
        <li>No more image generated or not yet.</li>
    {% endfor %}
{#    {% endwith %}#}
    {% if stop != True %}
        <a id='nextlink' href="{{ folder }}/?count={{ count }}" data-max="{{ max }}">next page</a>
    {%  endif %}
